@import url("./reset.css");
@import url("./utility.css");
:root {
  /* Design color */
  --clr-primary: #e3e6f3;
  --clr-font-primary: #1a1a1a;
  --clr-font-secondary: #088178;
}

/* ------------------------- Header Style ------------------------- */
header {
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 0.5rem 4rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: var(--clr-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
header .cart {
  max-width: 30px;
  transform: rotate(12deg);
}
header .close {
  position: absolute;
}

header ul {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}
header li {
  padding-inline: 1rem;
}
nav a {
  color: var(--clr-font-primary);
  font-weight: 600;
  transition: all 0.3s ease;
}
nav li:not(:last-of-type) a:hover::after {
  content: "";
  display: block;
  height: 1px;
  background-color: black;
  width: 50%;
  border-radius: 200px;
}
nav a:hover {
  color: var(--clr-font-secondary);
}

nav a:hover ::marker {
  width: 30px;
}
header .menu,
header .cartIcon {
  max-width: 30px;
  display: inline-block;
  cursor: pointer;
  margin-inline-start: 5px;
}

header .toggle-off {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(215, 212, 236);
  font-size: clamp(1rem, 1.3vw + 0.5rem, 2rem);
  font-weight: 600;
  gap: 3rem;
  padding-top: 4rem;
  transition: all 0.3s ease;
}
header .toggle-on {
  right: 0;
}
header .close {
  position: absolute;
  top: 15px;
  left: 20px;
  max-width: 40px;
  cursor: pointer;
}
/* ------------------------- Page header ------------------------- */
section#page-header {
  height: 300px;
  background: url("./../images/img/about/banner.png");
  background-position: left 10px top 49%;
  text-align: center;
  color: #fff;
  display: grid;
  place-content: center;
  text-transform: capitalize;
}
/* -------------------------About Contact------------------------- */
section#about-contact {
  line-height: 3;
  text-transform: capitalize;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 15px;
  align-items: center;
}
section#about-contact h1 {
  line-height: 1.2;
}
section#about-contact > div {
  flex: 1 1 100%;
}
section#about-contact .section-text p {
  margin: 0 0;
}
section#about-contact img {
  display: inline-block;
  vertical-align: -22%;
  margin-right: 10px;
}
section#about-contact iframe {
  width: 100%;
}
/* -------------------------Form------------------------- */

section#form {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  text-transform: capitalize;
}
section#form > form {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 1rem;
  flex-basis: 50%;
}
section#form .people {
  line-height: 1;
  margin: auto;
}

section#form > form input,
section#form > form textarea {
  padding: 17px 20px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  box-shadow: 4px 6px 5px rgb(8 129 120 / 0.4);
}
section#form > form input:focus,
section#form > form textarea:focus {
  outline: 1px solid #110f77;
}
section#form > form button {
  background-color: #088178;
  padding: 14px 50px;
  font-weight: 600;
  border-radius: 10px;
  align-self: flex-start;
  color: #fff;
  font-size: 1.1rem;
}

section#form .person-info > * {
  margin: 10px 0;
}

/* -------------------------News Letters------------------------- */

section#newsletters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  background: #110f77 repeat-x top 20% right 25%;
  background-image: url("../images/img/banner/b14.png");
  background-size: contain;
  color: #fff;
}
section#newsletters .sign-up p {
  color: #fff;
}
section#newsletters .offers {
  color: rgb(226, 226, 13);
  font-weight: 500;
}
section#newsletters form {
  flex-grow: 1;
  display: flex;
}

section#newsletters form > * {
  padding: 1rem 1rem;
  font-weight: 600;
  border: none;
  outline: none;
}
section#newsletters form input {
  border-radius: 5px 0 0 5px;
  background-color: #fff;
  margin-left: auto;
  width: min(100%, 400px);
}
section#newsletters form button {
  border-radius: 0 5px 5px 0px;
  white-space: nowrap;
  color: #f8ffff;
  background-color: rgb(184, 79, 79);
}
/* -------------------------Footer ------------------------- */

footer {
  line-height: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}
footer .icons {
  display: flex;
}
footer .install img {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 5px;
}

footer .logo {
  margin-left: -26px;
  margin-bottom: 1rem;
}
footer .copy {
  flex-basis: 100%;
  text-align: center;
}
/* --------------------- media query --------------------- */
@media (max-width: 1152px) {
  section#about-contact {
    flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .section-p1 {
    padding: 40px 30px;
  }
}
@media (max-width: 850px) {
  section#form {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 60px;
  }
  section#form > form {
    width: 100%;
  }
  section#form .people {
    margin-block: 1rem;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (max-width: 992px) {
  section#newsletters form input {
    margin-left: 0%;
  }
}
